<!-- ==================================================== -->
<!-- this is the page footer and lower navigation section -->
<!-- ==================================================== -->
<footer id="page_footer">
	&copy 2011, 2012 Colorado Region SCCA

	<!-- ====================== -->
	<!-- lower navigation panel -->
	<!-- ====================== -->
	<nav>
		<ul>
			<li><%= link_to 'Home', {:controller => 'pages', :action => 'home'} %></li>
			<li><%= link_to 'About Us', {:controller => 'pages', :action => 'about'} %></li>
			<li><%= link_to 'Privacy', {:controller => 'pages', :action => 'privacy'} %></a></li>
		</ul>
	</nav>
</footer>