<!-- =============================== -->
<!-- this is the advertising sidebar -->
<!-- =============================== -->
<section id="sidebar">
	<nav>
		<center>
			<h4>Colorado Region Supporters</h4>
			<%= image_tag "advertisements/scr_ad.jpg", :title => "SCR", :class => "nice", :width => '250px'%>
			<%= image_tag "advertisements/signedge5.jpg", :title => "SCR", :class => "nice", :width => '250px'%>
			<%= image_tag "advertisements/RMS.jpg", :title => "SCR", :class => "nice", :width => '250px'%>
			<%= image_tag "advertisements/roadracingservices.jpg", :title => "SCR", :class => "nice", :width => '250px'%>
		</nav>
	</center>
</section>