<!-- =============== -->
<!-- About US page   -->
<!-- =============== -->
<article class="main">
	<header> 
		<h2 id="headline">About us</h2>
	</header>
	<p class="content">
	Find me in app/views/pages/about.html.erb
	</p>
</article>
