<!-- =============== -->
<!-- Admin Page   -->
<!-- =============== -->
<article class="main">
	<header> 
		<h2 id="headline">Admin Page</h2>
	</header>
	<p class="content">
	Find me in app/views/pages/admin.html.erb
	</p>
</article>
