<!-- ====================== -->
<!-- Store (All Products)   -->
<!-- ====================== -->
<article class="main">
	<header> 
		<h2 id="headline">Store (All Products)</h2>
	</header>
	<p class="content">
	Find me in app/views/pages/allstore.html.erb
	</p>
</article>
