<!-- ====================== -->
<!--      Awards page       -->
<!-- ====================== -->
<article class="main">
	<header> 
		<h2 id="headline">Awards page</h2>
	</header>
	<p class="content">
	Find me in app/views/pages/awards.html.erb
	</p>
</article>
