<!-- ====================== -->
<!-- Store (Bottles)   -->
<!-- ====================== -->
<article class="main">
	<header> 
		<h2 id="headline">Store (Bottles)</h2>
	</header>
	<p class="content">
	Find me in app/views/pages/bottles.html.erb
	</p>
</article>
