<!-- ======================== -->
<!--  Bylaws page -->
<!-- ======================== -->
<section id="main">
	<article class="main">
		<header> 
			<h2 id="headline">Bylaws of the Colorado Region SCCA Inc.</h2>
		</header>
		<p class="content"> Click <%= link_to 'here', '../doc/ColoradoRegionByLaws.pdf', :target => 'blank' %> to open a "PDF" in a separate window.
	</article>
</section>