<!-- ====================== -->
<!-- Store (Clothing)  -->
<!-- ====================== -->
<article class="main">
	<header> 
		<h2 id="headline">Store (Clothing)</h2>
	</header>
	<p class="content">
		Find me in app/views/pages/clothing.html.erb
	</p>
</article>
