<!-- =============== -->
<!-- Email Notification   -->
<!-- =============== -->
<article class="main">
	<header> 
		<h2 id="headline">Email Notification</h2>
	</header>
	<p class="content">
	Find me in app/views/pages/emailnotification.html.erb
	</p>
</article>
