<!-- ============= -->
<!-- Get Started   -->
<!-- ============= -->
<article class="main">
	<header> 
		<h2 id="headline">Get Started</h2>
	</header>
	<p class="content">
	Find me in app/views/pages/getstarted.html.erb
	</p>
</article>
