<!-- ====================== -->
<!-- Store (Hats)  -->
<!-- ====================== -->
<article class="main">
	<header> 
		<h2 id="headline">Store (Hats)</h2>
	</header>
	<p class="content">
		Find me in app/views/pages/hats.html.erb
	</p>
</article>
