<!-- ======================== -->
<!--    Member Meeting        -->
<!-- ======================== -->
<section id="main">
	<article class="main">
		<header>
			<h2 id="headline">General Membership Meetings</h2>
		</header>
		<%= image_tag "qsnl_logo.png", :title => "QuakerSteakandLube", :class => "nice" %>
		<p class='content'>Colorado Region Membership meetings are (generally) held on the 3rd Tuesday of every month at 
		<b>Quaker Steak and Lube</b> in Westminster.  We eat drink and merrily discuss recent as well as upcoming club activities. Stay involved! 
		Come meet your fellow racing enthusiasts. It's fun! We hope to see you there.
		</p>
		<p>insert map here</p>
	</article>
</section>

