<!-- ======================== -->
<!--    Member Meeting        -->
<!-- ======================== -->
<article class="main">
	<header>
		<h2 id="headline">General Membership Meeting</h2>
	</header>
	<%= link_to image_tag("qsnl_logo.png", :title => "QuakerSteakandLube", :class => "nice"),'http://quakersteakandlube.com/Westminster_CO/', :target => 'blank' %>
	<p class='content'>Colorado Region Membership meetings are (generally) held on the 3rd Tuesday of every month at 
	<b>Quaker Steak and Lube</b> in Westminster. We eat drink and merrily discuss recent as well as upcoming club activities. Stay involved! 
	Come meet your fellow racing enthusiasts. It's fun! We hope to see you there.
	</p>
</article>

<article class="main">
	<header>
		<h2 id="headline">Board of Directors Meeting</h2>
	</header>
	<%= link_to image_tag("bbqlogo.gif", :title => "QuakerSteakandLube", :class => "nice"), 'http://www.breckbrew.com/food/bbq.html', :target => 'blank' %>
	<p class='content'>Colorado Region BoD meetings are (generally) held on the 1st tuesday of every month at 
	<b>BRECKENRIDGE BAR-B-QUE BREWERY</b> in Denver (471 Kalamath Street, Denver, CO 80204). We eat drink and merrily discuss issues 
	facing the Colorado Region of the SCCA.<br/><br/>
	All members are welcome at BoD meetings. It is considered a business meeting and is held using 'Roberts Rules of Order'. Social 
	discussions are not encouraged.<br/><br/>
	Cancellation notices and venus changes are not published to the general membership, so if you plan to attend a BoD 
	meeting please confirm current meeting date and venue with a board member.
</article>
