<!-- =============== -->
<!-- Privacy page   -->
<!-- =============== -->
<article class="main">
	<header> 
		<h2 id="headline">Privacy</h2>
	</header>
	<p class="content">
	Find me in app/views/pages/privacy.html.erb
	</p>
</article>
