<!-- =============== -->
<!-- Redline page   -->
<!-- =============== -->
<article class="main">
	<header> 
		<h2 id="headline">Redline</h2>
	</header>
	<p class="content">
	Find me in app/views/pages/redline.html.erb
	</p>
</article>
