<!-- =============== -->
<!-- Registration page   -->
<!-- =============== -->
<article class="main">
	<header> 
		<h2 id="headline">Registration</h2>
	</header>
	<p class="content">
	Find me in app/views/pages/registration.html.erb
	</p>
</article>
