<!-- ======================== -->
<!--  Board of Directors page -->
<!-- ======================== -->
<section id="main">
	<article class="main">
		<header> 
			<h2 id="headline">Board of Directors</h2>
		</header>
		<p class="content">ARTICLE V. BOARD OF DIRECTORS</p>
		<p>Section 1. General Powers. The business and affairs of the corporation shall be managed by its Board of Directors.</p>
		<p>Section 2. Number, Tenure and Qualifications The number of directors of the corporation shall be as provided in the Articles of Incorporation. 
		Three directors shall be elected each year at the annual meeting. Each director shall hold office for a term of three years, or until the subsequent 
		annual meeting of shareholders and until his successor shall have been elected and qualified. Directors must be members of the Corporation but need 
		not be residents of the State of Colorado. In addition, Chapter Presidents, if any, shall be ex officio members of the Board of Directors.
		</p>
		<p>insert database list here</p>
	</article>
</section>