<!-- =============== -->
<!-- Event Results page   -->
<!-- =============== -->
<article class="main">
	<header> 
		<h2 id="headline">Event Results</h2>
	</header>
	<p class="content">
	Find me in app/views/pages/results.html.erb
	</p>
</article>
