<!-- ================================= -->
<!-- Rocky Mountain Sidewinders page   -->
<!-- ================================= -->
<article class="main">
	<header> 
		<h2 id="headline">Rocky Mountain Sidewinders</h2>
	</header>
	<p class="content">
	Find me in app/views/pages/rmsidewinders.html.erb
	</p>
</article>
