<!-- =============== -->
<!-- RSS page   -->
<!-- =============== -->
<article class="main">
	<header> 
		<h2 id="headline">RSS</h2>
	</header>
	<p class="content">
		Find me in app/views/pages/rssfeed.html.erb
	</p>
</article>
