<!-- =============== -->
<!-- Rules & Forms page   -->
<!-- =============== -->
<article class="main">
	<header> 
		<h2 id="headline">Rules & Forms</h2>
	</header>
	<p class="content">
	Find me in app/views/pages/rulesforms.html.erb
	</p>
</article>
