<!-- ======================== -->
<!--       schedule           -->
<!-- ======================== -->
<section id="main">
	<article class="main">
		<header>  
			<h2 id="headline">2012 Rocky Mountain Division Racing Schedule</h2> 
		</header>
		<!-- this is the schedule table  -->
		<!-- TODO: replace with database -->
		<table>
			<tr><th>Event</th><th>Host Region</th><th>Track</th></tr>
			<tr><td class='ename'>Kick Some New Asphalt</td><td class='host'>Continental Divide</td><td class='track'>Pueblo Motorsports Park</td></tr>
			<tr><td> </td><td>Sat - Mar 31:</td><td>Reg-CTT-PDX</td></tr>
			<tr><td> </td><td>Sun - Apr 01:</td><td>Reg-CTT-PDX-DS</td></tr>
		</table>
		<hr>
		<table>
			<tr><td class='ename'>May Daze</td><td class='host'>Colorado</td><td class='track'>High Plains Raceway</td></tr>
			<tr><td> </td><td>Sat - Apr 28:</td><td>Reg-CTT-PDX-DS</td></tr>
			<tr><td> </td><td>Sun - Apr 29:</td><td>Reg-CTT-PDX</td></tr>
		</table>
		<hr>
		<table>
			<tr><td class='ename'>Rock the Peak</td><td class='host'>Continental Divide</td><td class='track'>Pikes Peak Intl Raceway</td></tr>
			<tr><td> </td><td>Sat - May 26:</td><td>Reg-Nat</td></tr>
			<tr><td> </td><td>Sun - May 27:</td><td>Reg-Nat</td></tr>
		</table>
		<hr>
		<table>
			<tr><td class='ename'>- ?? -</td><td class='host'>Continental Divide + Arizona</td><td class='track'>Pueblo Motorsports Park</td></tr>
			<tr><td> </td><td>Sat - Jun 16:</td><td>Nat</td></tr>
			<tr><td> </td><td>Sun - Jun 17:</td><td>Nat</td></tr>
		</table>
		<hr>
		<table>
			<tr><td class='ename'>The Freedom Sprints</td><td class='host'>Colorado</td><td class='track'>High Plains Raceway</td></tr>
			<tr><td> </td><td>Sat - Jun 30:</td><td>Nat</td></tr>
			<tr><td> </td><td>Sun - Jul 01:</td><td>Nat - Super Tour</td></tr>
		</table>
		<hr>
		<table>
			<tr><td class='ename'>It&apos;s Miller Time</td><td class='host'>Continental Divide</td><td class='track'>Pikes Peak Intl Raceway</td></tr>
			<tr><td> </td><td>Sat - Jul 21:</td><td>Reg-CTT-PDX</td></tr>
			<tr><td> </td><td>Sun - Jul 22:</td><td>Reg-CTT-PDX</td></tr>
		</table>
		<hr>
		<table>
			<tr><td class='ename'>The Great Salt Race</td><td class='host'>Utah</td><td class='track'>Miller Motorsports Park</td></tr>
			<tr><td> </td><td>Sat - Aug 04:</td><td>Reg-Nat</td></tr>
			<tr><td> </td><td>Sun - Aug 05:</td><td>Reg-Nat</td></tr>
		</table>
		<hr>
		<table>
			<tr><td class='ename'>- ?? -</td><td class='host'>Colorado</td><td class='track'>High Plains Raceway</td></tr>
			<tr><td> </td><td>Sat - Aug 18:</td><td>Reg-CTT-PDX</td></tr>
			<tr><td> </td><td>Sun - Aug 19:</td><td>Reg-CTT-PDX</td></tr>
		</table>
		<hr>
		<table>
			<tr><td class='ename'>The Last Chance Rationals</td><td class='host'>Colorado</td><td class='track'>High Plains Raceway</td></tr>
			<tr><td> </td><td>Sat - Sep 01:</td><td>Reg-Nat</td></tr>
			<tr><td> </td><td>Sun - Sep 02:</td><td>Reg-Nat</td></tr>
		</table>
		<hr>
		<table>
			<tr><td class='ename'>It&apos;s The Great Pumpkin</td><td class='host'>Continental Divide</td><td class='track'>Pueblo Motorsports Park</td></tr>
			<tr><td> </td><td>Sat - Oct 13:</td><td>Reg-CTT-PDX</td></tr>
			<tr><td> </td><td>Sun - Oct 14:</td><td>EN-CTT-PDX</td></tr>
		</table>
		<hr>
		<p class="legend">EVENT LEGEND<br />
		<b>Reg</b> - Regional Club Race<br />
		<b>Nat</b> - National Club Race<br />
		<b>DS</b>&nbsp;&nbsp - Drivers School<br />
		<b>CTT</b> - Club Time Trials<br />
		<b>PDX</b> - Performance Driving Experience<br />
		<b>EN</b>&nbsp;&nbsp; - Enduro</p>
	</article>
</section>