<!-- =============== -->
<!-- Spectators page   -->
<!-- =============== -->
<article class="main">
	<header> 
		<h2 id="headline">Spectators</h2>
	</header>
	<p class="content">
	Find me in app/views/pages/spectators.html.erb
	</p>
</article>
