<!-- =============== -->
<!-- Specialties page   -->
<!-- =============== -->
<article class="main">
	<header> 
		<h2 id="headline">Specialties</h2>
	</header>
	<p class="content">
	Find me in app/views/pages/specialties.html.erb
	</p>
</article>
