<!-- =============== -->
<!-- Tracks page   -->
<!-- =============== -->
<article class="main">
	<header> 
		<h2 id="headline">Tracks</h2>
	</header>
	<p class="content">
	Find me in app/views/pages/tracks.html.erb
	</p>
</article>
